*, *::after, *::befor {
    box-sizing: border-box;

}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: blue;
}
img {
    display: block;
    max-width: 100%;
    padding: 10px;
    width: 400px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navigation {
   display: flex;
   flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
#Btn {
    padding: 10px 20px;
    background-color: rgb(134, 214, 29);
    color: rgb(34, 55, 146);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#Btn:hover {
    background-color: rgb(34, 146, 49);
    color: blue;
}